@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

* {
  box-sizing: border-box;
  font-family: "Play", sans-serif;
}

h2 {
    font-size: 25px;
    color: #fff;
    text-align: center;
    z-index: 2;
}

hr {
    width: 100%;
}

p {
    font-size: 15px;
    color: #fff;
    text-align: center;
    z-index: 2;
}

h1 {
    font-size: 45px;
    color: #fff;
    text-align: center;
    z-index: 2;
  }

.container {
    display: static;
    width: 100%;
    padding: 0px 100px;
  }

body {
  flex-direction: column;
  background: #222;
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  
}

.row {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-top: 25px;
  margin-left: 20%;
  margin-bottom: 1rem;
}

.col-header {
  width: 150px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #fff;
}

.item {
  width: 150px;
  height: 66px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  background: #f7f6f7;
  padding: 0.8rem 1rem;
  color: #828282;
  text-align: center;
  cursor: grab;
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 150px;
  height: 66px;
}

.start {
  background: linear-gradient(90deg, #9b85ff 0%, #4a22fd 179.25%);
}

.progress {
  background: linear-gradient(90deg, #4a22fd 0%, #68bae0 100%);
}

.done {
  background: linear-gradient(90deg, #68bae0 0%, #8ff4db 100%);
}

.hold {
    border: 1px solid grey;
    transition: all 1s;
}

.hide {
    display: none;
}

.hovered {
    color: blue;
    border: 1px solid blue;
    border-radius: 20px;
    transition: all 1s;
}
